depo.ambasada.online {
  redir https://depodorcol.rs{uri} permanent
}

www.depodorcol.rs {
  redir https://depodorcol.rs{uri} permanent
}

depodorcol.rs {
  encode gzip zstd
  reverse_proxy app:3000
}
